@charset "UTF-8";



:root {
    --azul1:#371be4;
    --azul2:#2a14ca;
    --azul3:#1c0daf;
    --azul4:#0e0795;
    --azul5:#00007a;
}

* {
    padding: 0%;
    margin: 0%;
}



header {
    color: white;
    background-color:#1c0daf;
    text-align: center;
    padding: 30px;
}

header > h1{
    font-variant: small-caps;
}

nav {
    background-color: #00007a;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px
}

nav a{
    color:white;
    padding-left: 10px;
    text-decoration: none;
    }

a:hover {
    background-color: #371be4;
    padding: 10px;
    border-top-left-radius: 20px;
}

body {
    background-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}


body > p {
   
    padding-left: 30px;
    width: 800px;
    text-align: justify;
    line-height: 1.5em;
}

body > ul {
    padding-left: 30px;
    width: 800px;
    text-align: justify;
}

footer {
    background-color: #00007a;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a{
    color: white;
    text-decoration: none;

}